#bounceCanvas {
    background-color: #94bcdf;
    width: 300px;
    height: 500px;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#bounceCircle {
    /* background-color: #ff1a66; */
    border: black 1px solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: 100px;
    left: 100px;
    /* transform-origin: center; */
    animation: bounce 8s infinite;
}



@keyframes bounce {
    /* hover, then start drop */
    10% {
        scale: 100%;
        background-color: red;
    }

    /* dropping squash in */
    30% {
        scale: 80% 100%;
        background-color: orange;
    }

    /* squash down at bottom */
    50% {
        scale: 114% 60%;
        transform: translateY(240px);
        background-color: yellow;
    }

    /* bounce and squash up */
    75% {
        scale: 114% 100%;
        transform: scaleY(1);
        background-color: green;
    }

    /* return to top */
    100% {
        scale: 100%;
        transform: translateY(0px);
        background-color: blue;
    }
}



@-webkit-keyframes bounce {
    10% {
        height: 50px;
        width: 50px;
    }
    50% {
        height: 30px;
        width: 57px;
    }
}